#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  overflow: auto !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.regula-container {
  width: 800px;
}

document-reader::part(processing-message) {
  /* Styles to apply to the `foo` part */
  color: blue;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.numbers {
  background: white;
  padding: 4px;
  color: #242424;
  border-radius: 50%;
  font-size: 12px;
  width: 14px;
  height: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.response-text-fields .row,
.face-liveness-response .row {
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid #555;
}

.row p {
  word-wrap: break-word;
  max-width: 470px;
}

.response-text-fields h4,
.face-liveness-response h4 {
  min-width: 250px;
}

.face-liveness-response img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.regula-response h2 {
  border-top: 1px solid #555;
  width: 100%;
  text-align: left;
  text-align: left;
  display: block;
}